{% comment %} Subject: Password reset on {{ site_name }}

You're receiving this because you requested a password reset for your account.

Click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}127.0.0.1:8000/accounts/reset/MQ/set-password-token/ {% endcomment %}

Subject: Password reset on {{ Zingmind }}

You're receiving this email because you requested a password reset for your account.

Please click the link below to reset your password:

{{ HTTP }}://{{ 127.0.0.1:8000/}}{% url 'password_reset_email' uidb64=uid token=token %}

If you did not request this, please ignore this email.
